<h1>Bonjour, <%= @user.username %></h1>
  <p>
    Nous avons reçu une demande de réinitialisation de mot passe de votre part.<br>
    Veuillez trouver votre code ci-contre: <strong> <%= @user.reset_password_token %></strong>.<br>
    Le code est valide pour une durée de 30 minutes.
  </p>
<p>Nous vous remercions d'utiliser nos services !<br>Cordialement l'équipe Faro²</p>
